html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

.blocks-container {
  display: flex;
  height: 100vh;
}

.blocksList-sidebar {
  width: 200px;
  background-color: black;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.blocksList-sidebar h3 {
  margin: 0 0 10px 0;
}

.blocksList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blocksList-item {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.blocksList-item:hover {
  background-color: #f9f9f9;
  border-color: #888;
}

.blocksList-item.selected {
  background-color: #e6f7ff;
  border: 2px solid blue;
}

.blocks-canvas {
  flex: 1;
}
